/* Estilo general de la página */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #13181b; /* Fondo casi negro */
    color: #ecdeea; /* Texto gris claro */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

/* Estilo del título */
h1 {
    background-image: url('./images/5einTitle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px; /* O un valor de altura que prefieras */
    width: 100%; /* Ajusta la anchura */
    max-width: 600px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el elemento horizontalmente */
    padding: 0;
    text-indent: -9999px;
    overflow: hidden;
}

/* Estilo del párrafo */
p {
    font-size: 1.2em;
    color: #b0b0b0; /* Texto ligeramente más claro */
    max-width: 800px;
    line-height: 1.6;
    margin-top: 20px;
}



/********************************************************
/*INSERTAR AQUI ANIMACION DE CARD FLIP
/* Estilo para el contenedor de la carta flip */
.card-container {
    perspective: 1000px; /* Da una sensación de profundidad */
    margin-top: 30px; /* Espaciado adicional */
}

/* Estilo para la carta */
.card {
    width: 500px;
    height: 800px;
    position: relative;
    transform-style: preserve-3d; /* Mantiene la 3D mientras gira */
    transition: transform 0.6s, ease; /* Controla la velocidad de la animación */
    cursor: pointer; /* Apunta que se puede hacer clic */
    transform: rotateY(5deg); /* Inicialmente no está rotada */
    border-radius: 40px; /* Bordes redondeados */
}

/* La animación de escala también se aplica mientras está volviendo */
.card:hover {
    transform: scale(1.05); /* Escala suave al pasar el ratón */
    box-shadow: 0 0 15px 5px rgba(255, 253, 226, 0.6); /* Resplandor blanco sutil */
}

/* Estilos para el frente y la parte trasera de la carta */
.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden; /* Oculta la parte de atrás cuando se voltea */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.card-back {
    
    transform: rotateY(180deg); /* Rota la parte trasera 180 grados */
}

/* Imagen que cubra todo el contenedor de la carta */
.card-front img, .card-back img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    height: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
    object-fit: cover; /* Hace que la imagen se ajuste al contenedor sin distorsionarse */
}

/* Gira la carta al hacer clic */
.card.flipped {
    transform: rotateY(175deg); /* Al darle vuelta, gira la carta 180 grados */
}

/* Escala suave incluso durante el giro */
.card.flipped:hover {
    transform: rotateY(180deg) scale(1.05); /* Combina rotación y escalado al hacer hover en estado flipped */
}

/********************************************************




/* Estilo para el contenedor del canvas */
#finalspace {
    width: 100%;
    height: 1vh; /* Ajusta el tamaño del visor 3D */
    background-color: #1a1a1a; /* Fondo para el contenedor */
    margin-top: 30px;
}

/* Agregar algo de espaciado en la parte superior */
.content {
    margin-top: 30px;
}